.popOut{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #25252580;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerPop{
position: relative;
padding: 3%;
background-color: rgb(255, 255, 255);
border-radius: 5px;
}